/nbproject/private/
.idea/
library/phpchat/
config/config.php
config/config_ext.php
config/config_modules.php
config/config_emails.php
/vendor
/notused
modules/module_projects_extra.zip
modules/module_template.zip
modules/module_projects_extra/views/index/indexBot.php
modules/module_projects_extra/views/index/indexTop.php
public/img/projects/logos/
public/img/projects/
/public/img/person/logos/
/public/img/company/logos/
/public/img/person/
/public/img/company/
/public/img/icons/._
controllers/._
._
.scannerwork
/nbproject/project.properties
/nbproject/project.xml
updates.sql