.timesheet.white {
    border-top: 1px solid rgba(60,60,60,0.3);
    background-color: #fbfbfb;
}
.timesheet {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    border-top: 1px solid rgba(250,250,250,0.5);
    border-bottom: 1px solid rgba(60, 60, 60, 0.3);
    background-color: #333333;
    position: relative;
}

.timesheet {
    letter-spacing: normal;
    width: 100%;
    height: initial;
    min-height: 100px;
    margin: 0 auto 20px auto;
}
.timesheet .line {
    position: absolute;
    width: 100%;
    height: 100%;
}
.timesheet .line div {
    border-left: 1px solid blue;
    height: 100%;
}

.timesheet .line section {    
    position: relative;
    top: 2px;
    height: 100%;
    width: 1%;
}
#weektimesheet.timesheet .line section:after, #monthtimsheet.timesheet .line section:after {
    content: "\25B2 Now";
}    
#yeartimesheet.timesheet .line section:after{
    content: "\25B2 Today";
}    
.timesheet .line section:after {
    color: #00F;
    font-size: 12px;
    line-height: 5px;
    left: -6px;
    top: -8px;
    position: relative;
}
.timesheet .scale {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    float: left;
}
.timesheet .scale section {
    float: left;
    width: 59px;
    text-align: center;
    color: rgba(250,250,250,0.8);
    font-size: 13px;
    line-height: 24px;
    font-weight: 600;
    height: 100%;
}
#weektimesheet.timesheet .scale section{
    width:14.285714285714%;
}
#monthtimsheet.timesheet .scale section{
    width:3.5714285714286%;
}
#monthtimsheet.timesheet .scale.number-31 section{
    width:3.2258064516129%;
}
#monthtimsheet.timesheet .scale.number-30 section{
    width:3.3333333333333%;
}
#monthtimsheet.timesheet .scale.number-29 section{
    width:3.44827586206897%;
}
#yeartimesheet.timesheet .scale section{
    width:8.3333333333333%;
}
.hidden-section{
    display:none;
}
#monthtimsheet.timesheet .scale.number-31 .section-31, #monthtimsheet.timesheet .scale.number-31 .section-30, #monthtimsheet.timesheet .scale.number-31 .section-29{
    display:block;
}
#monthtimsheet.timesheet .scale.number-30 .section-30, #monthtimsheet.timesheet .scale.number-30 .section-29{
    display:block;
}
#monthtimsheet.timesheet .scale.number-29 .section-29{
    display:block;
}
.timesheet.white .scale section div {
    color: rgba(50,50,50,0.8);
    border-left: 1px dashed rgba(50,50,50,0.1);
}
.timesheet div.scale section div {
    border-left: 1px dashed rgba(250,250,250,0.5);
    height: 100%;
}
.timesheet.white .data {
    color: rgba(250,250,250,0.8);
}
.timesheet .data {
    margin: 28px 0 5px 0;
    padding: 0;
    text-align: left;
    list-style-type: none;
    color: rgba(250,250,250,0.8);
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    overflow: hidden;
}
.timesheet .data li {
    margin: 0 0 3px 0;
    line-height: 16px;
    height: 25px;
    display: block;
    cursor: pointer;
    clear: both;
    position: relative;
    white-space: nowrap;
}
.timesheet .data .timesheet-segment {
    position: absolute;
    width: 100%;
    top:8px;
}
.timesheet .data .timesheet-row{
    position: relative;
    width: 100%;
    height: 24px;
}
.timesheet .data .bubble {
    width: 100%;
    height: 7px;
    display: block;
    float: left;
    position: relative;
    top: 0px;
    border-radius: 4px;
    margin: 0 10px 0 0;
    opacity: 0.7;
    line-height: 7px;
    cursor:pointer;
}
.timesheet .label{
    color:#000;
    opacity:0;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
.timesheet-label{
    position: relative;
}
.timesheet-label>.timesheet-label-holder{
    position:absolute;
    bottom:-30px;
    left:0px;
}
#yeartimesheet.timesheet .data li .segment{
    width:auto;
}
#yeartimesheet.timesheet .data li .segment>div{
    position:absolute;
}
#yeartimesheet.timesheet .segment div{
    opacity:1;
    color:#000;
}
#test{
    line-height: 16px;
    font-size:13px;
    position: absolute;
    visibility: hidden;
    height: auto;
    width: auto;
    white-space: nowrap;
}
.modal-body .button-row{
    margin-right: 15px;
    position: relative;
    width: 100%;
    margin-top: 18px;
    float: left;
}
.modal-body .button-row .pull-right{
    margin-right:15px;
}
.modal-body .modal-errormessage{
    width:100%;
    line-height:20px;
    font-size:16px;
    color:darkred;
    height:auto;
    text-align:center;
}

#specificTimePage .form-check-label {
    margin-top: 5px;
}

#projectPicker {
    margin-top: -2px;
}

@media screen and (min-width: 500px){
    #timesheetweek .line, #monthtimsheet .line, #yeartimesheet .line{
        display: block;
    }
}

input#savetime_timepicker1 {
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

input#savetime_timepicker2 {
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

#timesheet-tooltip{
    position:absolute;
    opacity:0;
    width:auto;
    height:auto;
    max-width:200px;
    max-height:60px;
    background-color:rgba(0,0,0,1);
    color:#FFF;
    padding:4px 8px;
    border-radius:4px;
}